$dark-blue: #0F044C;
$grey: #787A91;
$light-grey: #EEEEEE;
$blue-2: #050A30;
$Navyblue-2: #000C66;
$Blue: #0000FF;
$Baby-Blue: #7EC8E3;
$white: #ffffff;


$dark-blue: #0F044C;
$grey: #787A91;
$light-grey: #EEEEEE;
$blue-2: #050A30;
$Navyblue-2: #000C66;
$Blue: #0000FF;
$Baby-Blue: #7EC8E3;
$white: #ffffff;



body{
    
    
    margin: 0 auto;
    color: whitesmoke;
   
    //font-family: 'Poppins', sans-serif;
    //font-family: 'Proza Libre', sans-serif;

    
.container{

    width: 100%;
    background-color: $white;
  
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: $blue-2;
        width: 100%;
        
        

        
       .image{

        margin-top: 50px;
        

        .border{
            width: 300px;
            height: 300px;
            background-color: $Baby-Blue;
            clip-path: circle(110px at center);

            
            img{
                width: 300px;
                height: 300px;
                object-fit: cover;  
                clip-path: circle(100px at center);
                filter: grayscale(40%);
                
            
            }
        }
        
        

       }
    
        .hr{
            width: 7px;
            height: 300px;
            background-color: $Baby-Blue;
            border-radius: 5px;
            margin-top: 3%;
            margin-left: 30px;         
       
        }
    
       
        .its-me{
            margin-top: 3%;
            padding: 3% 0;
            line-height: 1.8rem;
            text-align: left;
            
    
            h4{
                font-family: poppins;
                font-weight: lighter;
            }
    
            h1{
                font-family: poppins;
                font-weight: bolder;
            }
    
            
    
            button{

                    background-color: $Baby-Blue;
                    color: #050A30;
                    padding: 15px 30px;
                    font-family: sans-serif;
                    font-size: 15px;
                    border-radius: 50px;
                    border: 1px solid $Baby-Blue;
                    margin: 10px 0 ;
                    font-weight: bolder;
          
            }
    
            
           
    
        }
    
     
        .navbar{
            
         
            .icon{
                    
                    width: 20px;
                    height: 20px;
                    background-color: $white;
                    padding: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                    
                   
    
    
                .fa{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    color: $dark-blue;
                    font-size: 18px;
    
                    //Centering any element
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
    
                    
                    
                }
            }
    
               
            ul{
              
                list-style-type: none;
                margin-top: 50%;
                padding: 0;
                border: 3px solid $white;
                width: 65px;
                height: 250px;
                border-radius: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                

                
    
                li{
                    // padding: 10px 25px; //centering without flex
                    display: flex;
                    justify-content: center;
                    padding: 10px 0;

                   
                   i{
                    font-size:25px;
                    color: $Baby-Blue;
                   }

                   

                   
                }

                
    
            }
          
    
            
            
        }
    
    
    }



    .main{
   
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;


        .sub-main{
            
            min-width: 30%;
            font-family:  'sans-serif';
            margin-left: 2%;
            margin-top: 5%;
            
            h1{
                color: $blue-2;
                padding-left: 5%;
                font-family: 'poppins';
                font-weight: bolder;
                position: relative;
       
            }

            h1:after{
                content: '';
                display: block;
                position: absolute;
                width: 70px;
                bottom: -9px;
                left: 15px;
                border: 3px solid $grey;

            }

            .education-1, .education-2, .education-3{
               
                color: $grey;
                margin-top: 5px;
                width: 350px;
                height: 160px;
                border-bottom: 1px solid $grey;
                padding: 5%;
                margin-left: 3%;
                

                .fa{
                    color: $grey;
                    font-size: 20px;
                }

                h2{
                    color: $blue-2;
                    font-size: 22px;
                }

                h4{
                    font-size: 20px;
                    word-spacing: 3px;
                    font-weight: lighter;
                }


                
            } 
            
            .education-3{
                border-bottom: none;
            }
            
            
        }

        .sub-content{


             width: 65%;
             background-color: $white;
             border-left: 5px solid $light-grey;
             background-color: $white;
             display: flex;
             flex-direction: column;
             justify-content: space-around;
             color: $blue-2;

             h1{
                color: $blue-2;
                padding-left: 5%;
                font-family: 'poppins';
                position: relative;
                font-weight: lighter;
    
    
            }
    
            h1:after{
                content: '';
                display: block;
                position: absolute;
                width: 70px;
                bottom: -9px;
                left: 15px;
                border: 3px solid $grey;
    
            }
             
 
             .skillset-1{
                 
                 display: flex;
                 flex-direction: column;
                 justify-content: space-evenly;
                 padding: 2%;
            
 
                 .skills-1, .skills-2, .skills-3, .skills-4, .skills-5, .skills-6 {
 
                     h3{
                         color: $blue-2;
                         font-weight: lighter;
                         padding-bottom: 2px;
                         
                         i{
                             color: $Baby-Blue;
                             font-size: 20px;
                             padding: 5px;
                         }
 
                         
         
                         
                     }
 
                     
                         ul{
                             list-style-type: none;
                             li{
                                 display: block;
                                 padding: 10px;
                                 font-size: medium;
                                 cursor: pointer;
                                 a{
                                    font-size: 1.5rem;
                                    text-decoration: none;
                                }
                             }
                         }
                     
 
                     
                 .loader{
                     width:90%;
                     background-color: $light-grey;
                     border-radius: 15px;
                     color: white;
 
                     .html{
                         width: 90%;
                         background-color: $blue-2;
                         padding: 2px;
                         border-radius: 15px;
                         opacity: 0.9;
                         text-align: right;
 
                     }
 
                     .css{
                         width: 60%;
                         background-color: $blue-2;
                         padding: 3px;
                         border-radius: 15px;
                         opacity: 0.9;
                         text-align: right;
                     }
 
                     .js{
                         width: 50%;
                         background-color: $blue-2;
                         padding: 3px;
                         border-radius: 15px;
                         opacity: 0.9;
                         text-align: right;
                     }
 
                     .illustration{
                         width: 40%;
                         background-color: $blue-2;
                         padding: 3px;
                         border-radius: 15px;
                         opacity: 0.9;
                         text-align: right;
                         
                     }
 
                     .react{
                         width: 30%;
                         background-color: $blue-2;
                         padding: 3px;
                         border-radius: 15px;
                         opacity: 0.9;
                         text-align: right;
 
                     }
 
                 }
                     
                    
                 }
 
 
                 
             }
 
         }
       
    }

    
    
    
    .portfolio{
        width: 100%;
        background-color: $blue-2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
        .card-1, .card-2, .card-3{
            border: 1px solid $grey;
            max-width: 25%;
            padding: 3%;
            box-shadow: 2px 2px 2px $dark-blue;
            

    
            .transition{

                position: relative;
             

                img{
                    
                    width:100%;
                    height: 200px;
                    object-fit: cover;
                    object-position: (30%);
                }

                .top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bolder;
                    font-family: poppins;
                }

                .layer{
                    position: absolute;
                    width:100%;
                    height: 200px;
                    background-color:  $Baby-Blue;
                    transition: opacity 1s ;
                    opacity: 0;
                    
                }

                .layer:hover{
                    opacity: .9;
                    color: $blue-2;
                    
                    
                }

             
                
            }

            .click-me{
                padding: 20px;
                font-family: poppins;
                word-spacing: 5px;
                

                strong{
                    color: $light-grey;
                }

                

                button{
                    background-color: $Baby-Blue;
                    padding: 8px 16px;
                    border: 1px solid $Baby-Blue;
                    border-radius: 25px;
                    font-weight: bold;
                    color: $blue-2;
                    
                }
                a{
                    text-decoration: none;
                }

                


                
    
            }
            
            
        }


        .exception{
                    
            h2{
                padding-bottom: 30px;
            }

            .ex{
             padding-top: 30px;
             
            }
         }

        
    }

    
    .know-me{
        
        width: 100%;
        background-color: $white;
        color:black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: poppins;
       
        .about-me{
            min-width:30%;
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 5%;
            

            h4{
                height:300px;
                background-color:$blue-2;
                writing-mode: vertical-rl;
                color: $white;
                rotate: 180deg;
                text-align: center;
            }

            p{
                padding: 10%;
                font-size: medium;
                
            }
        }

        .fa{
            color:grey;
        }

        .right{
            // position: absolute;
            // right:35%;
            rotate: 180deg;
        }

        .about-me-2{
           min-width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           // border: 2px solid lime;
            margin-top: 2%;

            

            
        }
      
    
    }


    .know-me-2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background-color: $blue-2;
        font-family: poppins;

        svg{
            margin-top: 20%;
           
            
        }

        .hobbies{

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 5%;
            min-width: 50%;

           
            .hobby{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 150px;
                background-color: $grey;
                border-radius: 25% 5%;
                margin-top: 12%;
                
               
           
    
                .tom{
    
                   padding-top: 35px;
                   
                    
                    i{
                        display: flex;
                        justify-content: center; 
                        text-align: center; 
                        opacity: 1;
                        
                    
                    }
    
                    p{
                        display: flex;
                        justify-content: center; 
                        text-align: center; 
                    }
    
                    
                }
    
                
            }
    
                h4{
                    height:300px;
                    background-color:$white;
                    writing-mode: vertical-rl;
                    color: $blue-2;
                    text-align: center;
                }
        }
        
    }

    
 
    
    .footer{
        background-color: $light-grey;
        font-family: poppins;
        color: $blue-2;
        padding-bottom: 5%;
        width: 100%;


        h1{
            text-align: center;

            span{
                color: $Baby-Blue;
            }

        }

        p{
            text-align: center;
            color: $blue-2;

            
            

        }

        .location-form{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
           

            .location{
                text-align: left;
                font-weight: lighter;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                p{
                    text-align: left;
                    a{
                        color: black;
                        text-decoration: none;
                    }
                }


                
            }

            .form{
                max-width: 60%;

                

                p{
                    text-align: left;
                }
                
                .name-email{
                    margin-bottom: 5%;

                   input{
                    width: 300px;
                    height: 50px;
                    border-radius: 25px;
                    border: 2px solid $Baby-Blue;
                    margin-right: 25px;


                    input:hover{
                        
                            border: 2px solid $blue-2;
                           
                    }
                    
                   }


                }

                

                .message{
                    textarea{
                        border-radius: 25px;
                        border: 1px solid $Baby-Blue;
                        
                    }
                    
                }

                button{
                    background-color: $blue-2;
                    padding: 16px 32px;
                    color: $Baby-Blue;
                    border-radius: 25px;
                    margin-top: 3%;
                    border: 1px solid $Baby-Blue;

                }
                
                
            }
            
        }
        
    }
    

}
}






//Breakeven points
@media (max-width:600px){
   
      

   
}

@media (max-width:768px){
   
   
 
}

@media (max-width:992px){
    body{
    
        .container{
            width: 100%;
    
            .header{
    
                width: 100%;
                height: 800px;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
    
                .image{
                    width: 100%;
                    margin-top: 0;
                                    
                        .border{
                            width: 100%;
                            height: 300px;
                            background-color: $Baby-Blue;
                            border: 5px solid $grey;
                            clip-path: circle(105px at center);

                            
                            img{
                                width: 100%;
                                height: 300px;
                                object-fit: contain;  
                                clip-path: circle(100px at center);
                                filter: grayscale(40%);
                                
                            
                            }
                        }
        
                    
                    
                }
    
           
                .hr{
                    display: none;
                }
        
                .its-me{
                    text-align: center;
                    padding-top: 0;
        
              
                    h4{
                        font-size: 1.5rem;
                    }
        
                    h1{
                        font-size: 3rem;
                        line-height: 1.5em;
                        span{
                            color: $Baby-Blue;
                        }
                    }
    
                    button{
                        width:40%;
                        margin-right: 2%;

                        
                    }
         
                }
        
                
                .navbar{
                    
                    
               
                    .icon{
                        margin-top: 10%;
                        margin-left: 10%;
                        display: block;
                        opacity: .9;
                        
                    }

                    ul{
                        display: none;
                    }
        
                    
                }
                
                
                
            }
    
            .main{
            
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
            
                    .sub-main{
                        margin-top: 12%;
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: grey;
                        
                        h1{
                            color: $blue-2;
                            padding-left: 5%;
                            font-family: 'poppins';
                            font-weight: bolder;
                            position: relative;
                            font-size: 4rem;
                   
                        }
            
                        h1:after{
                            content: '';
                            display: block;
                            position: absolute;
                            width: 140px;
                            bottom: -9px;
                            left: 120px;
                            border: 3px solid $blue-2;
            
                        }
                        .education-1, .education-2, .education-3{
                   
                            color: $grey;
                            width: 580px;
                            height: 320px;
                            border-bottom: 1px solid $grey;
                            padding: 2%;
                            margin: 3%;
                            background-color: $Baby-Blue;
                            border-radius: 15% 5%;
                            
            
                            .fa{
                                color: $grey;
                                font-size: 2rem;
                            }
            
                            h2{
                                color: $blue-2;
                                font-size: 3rem;
                            }
            
                            h4{
                                font-size: 1.8rem;
                                word-spacing: 3px;
                                font-weight: lighter;
                            }
    
                            p{
                                font-size: 1.8rem;
    
                            }
            
            
                            
                        } 
                        
                        .education-3{
                            border-bottom: none;
                        }
                    }
            
                    .sub-content{
                        width: 100%;
    
                        h1{
                            color: $blue-2;
                            padding-left: 5%;
                            font-family: 'poppins';
                            font-weight: bolder;
                            position: relative;
                            font-size: 4rem;
                            text-align: center;
                   
                        }
            
                        h1:after{
                            content: '';
                            display: block;
                            position: absolute;
                            width: 140px;
                            left: 420px;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            border-bottom: 3px solid $blue-2;
            
                        }
    
                        .skillset-1{
                     
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: 2%;
                       
            
                            .skills-1, .skills-2, .skills-3, .skills-4, .skills-5, .skills-6 {
            
                                h3{
                                    color: $blue-2;
                                    font-size: 1.5rem;
                                    font-weight: bold;
                                    padding-bottom: 2px;
                                    
                                    i{
                                        color: $Blue;
                                        font-size: 1.8rem;
                                        padding: 5px;
                                    }
            
                                    
                    
                                    
                                }
            
                                
                                    ul{
                                        list-style-type: none;
                                        li{
                                            display: block;
                                            padding: 10px;
                                            cursor: pointer;
                                            a{
                                                font-size: 1.5rem;
                                                text-decoration: none;
                                            }
                                        }
                                    }
                                
            
                                
                            .loader{
                                width:90%;
                                background-color: $light-grey;
                                border-radius: 15px;
                                color: white;
            
                                .html{
                                    width: 90%;
                                    background-color: $blue-2;
                                    padding: 2px;
                                    border-radius: 15px;
                                    opacity: 0.9;
                                    text-align: right;
            
                                }
            
                                .css{
                                    width: 60%;
                                    background-color: $blue-2;
                                    padding: 3px;
                                    border-radius: 15px;
                                    opacity: 0.9;
                                    text-align: right;
                                }
            
                                .js{
                                    width: 50%;
                                    background-color: $blue-2;
                                    padding: 3px;
                                    border-radius: 15px;
                                    opacity: 0.9;
                                    text-align: right;
                                }
            
                                .illustration{
                                    width: 40%;
                                    background-color: $blue-2;
                                    padding: 3px;
                                    border-radius: 15px;
                                    opacity: 0.9;
                                    text-align: right;
                                    
                                }
            
                                .react{
                                    width: 30%;
                                    background-color: $blue-2;
                                    padding: 3px;
                                    border-radius: 15px;
                                    opacity: 0.9;
                                    text-align: right;
            
                                }
            
                            }
                                
                               
                            }
            
            
                            
                        }
                    }
            
                   
               
            }
    
    
            
    
            .portfolio{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
    
                .card-1, .card-2, .card-3{
                    align-items: flex-end;
                    max-width: 90%;
                    padding: 5%;
                    margin: 10px 0px;
                    background-color: $blue-2;
                    margin-top: 3%;
                }
            }
    
    
            .know-me{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
    
                .about-me{
    
                    h4{
                        
                        height: 400px;
                        font-size: 1.3rem;
                    }
    
                    p{
                        font-size: 1.4rem;
                    }
                }
    
                .about-me-2{
                    
                    svg{
                        width: 100%;
                    }
                   
                }
    
    
                
            }
    
            .know-me-2{
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                h4{
    
                    height: 400px;
                        font-size: 1.3rem;
                    
    
                }
    
                svg{
                    
                    display: none;
                }
    
            }
    
            .footer{
                width: 100%;
    
                .location-form{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
    
                    .location{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        a{
                            display: none;
                           
                        }
    
                        p{
                            font-size: 2rem;
                            i{
                                display: flex;
                                justify-content: center;
    
                            }
                        }
           
                    }
    
                    .form{
                        min-width: 90%;
                        p{
                            font-size: 1.5rem;
                            padding: 3%;  
                        }
                       
                        
                        .name-email{
                            padding: 3%;
                            
    
                        }
    
                        .message{
                            font-size: 1.7rem;
                            padding: 2%;
                        }
    
                        button{
                            margin-left: 3%;
                            font-size: 1.3rem;
                        }
                    }
                }
    
            }
    
    
    
    
    
        }
    
    
    }
  

}


@media (min-width:1025px){
    body{
        .container{
            .header{
                .navbar{
                    .icon{
                        display: none;
                    }

                    .round-menu{
                        display: block;
                    }
                }
            }
        }
    }
    

}

