body {
  margin: 0 auto;
  color: whitesmoke;
}

body .container {
  width: 100%;
  background-color: #ffffff;
}

body .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #050A30;
  width: 100%;
}

body .container .header .image {
  margin-top: 50px;
}

body .container .header .image .border {
  width: 300px;
  height: 300px;
  background-color: #7EC8E3;
  -webkit-clip-path: circle(110px at center);
          clip-path: circle(110px at center);
}

body .container .header .image .border img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: circle(100px at center);
          clip-path: circle(100px at center);
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

body .container .header .hr {
  width: 7px;
  height: 300px;
  background-color: #7EC8E3;
  border-radius: 5px;
  margin-top: 3%;
  margin-left: 30px;
}

body .container .header .its-me {
  margin-top: 3%;
  padding: 3% 0;
  line-height: 1.8rem;
  text-align: left;
}

body .container .header .its-me h4 {
  font-family: poppins;
  font-weight: lighter;
}

body .container .header .its-me h1 {
  font-family: poppins;
  font-weight: bolder;
}

body .container .header .its-me button {
  background-color: #7EC8E3;
  color: #050A30;
  padding: 15px 30px;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 50px;
  border: 1px solid #7EC8E3;
  margin: 10px 0;
  font-weight: bolder;
}

body .container .header .navbar .icon {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

body .container .header .navbar .icon .fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  color: #0F044C;
  font-size: 18px;
}

body .container .header .navbar ul {
  list-style-type: none;
  margin-top: 50%;
  padding: 0;
  border: 3px solid #ffffff;
  width: 65px;
  height: 250px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .header .navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

body .container .header .navbar ul li i {
  font-size: 25px;
  color: #7EC8E3;
}

body .container .main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .main .sub-main {
  min-width: 30%;
  font-family: 'sans-serif';
  margin-left: 2%;
  margin-top: 5%;
}

body .container .main .sub-main h1 {
  color: #050A30;
  padding-left: 5%;
  font-family: 'poppins';
  font-weight: bolder;
  position: relative;
}

body .container .main .sub-main h1:after {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  bottom: -9px;
  left: 15px;
  border: 3px solid #787A91;
}

body .container .main .sub-main .education-1, body .container .main .sub-main .education-2, body .container .main .sub-main .education-3 {
  color: #787A91;
  margin-top: 5px;
  width: 350px;
  height: 160px;
  border-bottom: 1px solid #787A91;
  padding: 5%;
  margin-left: 3%;
}

body .container .main .sub-main .education-1 .fa, body .container .main .sub-main .education-2 .fa, body .container .main .sub-main .education-3 .fa {
  color: #787A91;
  font-size: 20px;
}

body .container .main .sub-main .education-1 h2, body .container .main .sub-main .education-2 h2, body .container .main .sub-main .education-3 h2 {
  color: #050A30;
  font-size: 22px;
}

body .container .main .sub-main .education-1 h4, body .container .main .sub-main .education-2 h4, body .container .main .sub-main .education-3 h4 {
  font-size: 20px;
  word-spacing: 3px;
  font-weight: lighter;
}

body .container .main .sub-main .education-3 {
  border-bottom: none;
}

body .container .main .sub-content {
  width: 65%;
  background-color: #ffffff;
  border-left: 5px solid #EEEEEE;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #050A30;
}

body .container .main .sub-content h1 {
  color: #050A30;
  padding-left: 5%;
  font-family: 'poppins';
  position: relative;
  font-weight: lighter;
}

body .container .main .sub-content h1:after {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  bottom: -9px;
  left: 15px;
  border: 3px solid #787A91;
}

body .container .main .sub-content .skillset-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2%;
}

body .container .main .sub-content .skillset-1 .skills-1 h3, body .container .main .sub-content .skillset-1 .skills-2 h3, body .container .main .sub-content .skillset-1 .skills-3 h3, body .container .main .sub-content .skillset-1 .skills-4 h3, body .container .main .sub-content .skillset-1 .skills-5 h3, body .container .main .sub-content .skillset-1 .skills-6 h3 {
  color: #050A30;
  font-weight: lighter;
  padding-bottom: 2px;
}

body .container .main .sub-content .skillset-1 .skills-1 h3 i, body .container .main .sub-content .skillset-1 .skills-2 h3 i, body .container .main .sub-content .skillset-1 .skills-3 h3 i, body .container .main .sub-content .skillset-1 .skills-4 h3 i, body .container .main .sub-content .skillset-1 .skills-5 h3 i, body .container .main .sub-content .skillset-1 .skills-6 h3 i {
  color: #7EC8E3;
  font-size: 20px;
  padding: 5px;
}

body .container .main .sub-content .skillset-1 .skills-1 ul, body .container .main .sub-content .skillset-1 .skills-2 ul, body .container .main .sub-content .skillset-1 .skills-3 ul, body .container .main .sub-content .skillset-1 .skills-4 ul, body .container .main .sub-content .skillset-1 .skills-5 ul, body .container .main .sub-content .skillset-1 .skills-6 ul {
  list-style-type: none;
}

body .container .main .sub-content .skillset-1 .skills-1 ul li, body .container .main .sub-content .skillset-1 .skills-2 ul li, body .container .main .sub-content .skillset-1 .skills-3 ul li, body .container .main .sub-content .skillset-1 .skills-4 ul li, body .container .main .sub-content .skillset-1 .skills-5 ul li, body .container .main .sub-content .skillset-1 .skills-6 ul li {
  display: block;
  padding: 10px;
  font-size: medium;
  cursor: pointer;
}

body .container .main .sub-content .skillset-1 .skills-1 ul li a, body .container .main .sub-content .skillset-1 .skills-2 ul li a, body .container .main .sub-content .skillset-1 .skills-3 ul li a, body .container .main .sub-content .skillset-1 .skills-4 ul li a, body .container .main .sub-content .skillset-1 .skills-5 ul li a, body .container .main .sub-content .skillset-1 .skills-6 ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}

body .container .main .sub-content .skillset-1 .skills-1 .loader, body .container .main .sub-content .skillset-1 .skills-2 .loader, body .container .main .sub-content .skillset-1 .skills-3 .loader, body .container .main .sub-content .skillset-1 .skills-4 .loader, body .container .main .sub-content .skillset-1 .skills-5 .loader, body .container .main .sub-content .skillset-1 .skills-6 .loader {
  width: 90%;
  background-color: #EEEEEE;
  border-radius: 15px;
  color: white;
}

body .container .main .sub-content .skillset-1 .skills-1 .loader .html, body .container .main .sub-content .skillset-1 .skills-2 .loader .html, body .container .main .sub-content .skillset-1 .skills-3 .loader .html, body .container .main .sub-content .skillset-1 .skills-4 .loader .html, body .container .main .sub-content .skillset-1 .skills-5 .loader .html, body .container .main .sub-content .skillset-1 .skills-6 .loader .html {
  width: 90%;
  background-color: #050A30;
  padding: 2px;
  border-radius: 15px;
  opacity: 0.9;
  text-align: right;
}

body .container .main .sub-content .skillset-1 .skills-1 .loader .css, body .container .main .sub-content .skillset-1 .skills-2 .loader .css, body .container .main .sub-content .skillset-1 .skills-3 .loader .css, body .container .main .sub-content .skillset-1 .skills-4 .loader .css, body .container .main .sub-content .skillset-1 .skills-5 .loader .css, body .container .main .sub-content .skillset-1 .skills-6 .loader .css {
  width: 60%;
  background-color: #050A30;
  padding: 3px;
  border-radius: 15px;
  opacity: 0.9;
  text-align: right;
}

body .container .main .sub-content .skillset-1 .skills-1 .loader .js, body .container .main .sub-content .skillset-1 .skills-2 .loader .js, body .container .main .sub-content .skillset-1 .skills-3 .loader .js, body .container .main .sub-content .skillset-1 .skills-4 .loader .js, body .container .main .sub-content .skillset-1 .skills-5 .loader .js, body .container .main .sub-content .skillset-1 .skills-6 .loader .js {
  width: 50%;
  background-color: #050A30;
  padding: 3px;
  border-radius: 15px;
  opacity: 0.9;
  text-align: right;
}

body .container .main .sub-content .skillset-1 .skills-1 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-2 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-3 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-4 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-5 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-6 .loader .illustration {
  width: 40%;
  background-color: #050A30;
  padding: 3px;
  border-radius: 15px;
  opacity: 0.9;
  text-align: right;
}

body .container .main .sub-content .skillset-1 .skills-1 .loader .react, body .container .main .sub-content .skillset-1 .skills-2 .loader .react, body .container .main .sub-content .skillset-1 .skills-3 .loader .react, body .container .main .sub-content .skillset-1 .skills-4 .loader .react, body .container .main .sub-content .skillset-1 .skills-5 .loader .react, body .container .main .sub-content .skillset-1 .skills-6 .loader .react {
  width: 30%;
  background-color: #050A30;
  padding: 3px;
  border-radius: 15px;
  opacity: 0.9;
  text-align: right;
}

body .container .portfolio {
  width: 100%;
  background-color: #050A30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .portfolio .card-1, body .container .portfolio .card-2, body .container .portfolio .card-3 {
  border: 1px solid #787A91;
  max-width: 25%;
  padding: 3%;
  -webkit-box-shadow: 2px 2px 2px #0F044C;
          box-shadow: 2px 2px 2px #0F044C;
}

body .container .portfolio .card-1 .transition, body .container .portfolio .card-2 .transition, body .container .portfolio .card-3 .transition {
  position: relative;
}

body .container .portfolio .card-1 .transition img, body .container .portfolio .card-2 .transition img, body .container .portfolio .card-3 .transition img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30%;
     object-position: 30%;
}

body .container .portfolio .card-1 .transition .top, body .container .portfolio .card-2 .transition .top, body .container .portfolio .card-3 .transition .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  font-family: poppins;
}

body .container .portfolio .card-1 .transition .layer, body .container .portfolio .card-2 .transition .layer, body .container .portfolio .card-3 .transition .layer {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #7EC8E3;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}

body .container .portfolio .card-1 .transition .layer:hover, body .container .portfolio .card-2 .transition .layer:hover, body .container .portfolio .card-3 .transition .layer:hover {
  opacity: .9;
  color: #050A30;
}

body .container .portfolio .card-1 .click-me, body .container .portfolio .card-2 .click-me, body .container .portfolio .card-3 .click-me {
  padding: 20px;
  font-family: poppins;
  word-spacing: 5px;
}

body .container .portfolio .card-1 .click-me strong, body .container .portfolio .card-2 .click-me strong, body .container .portfolio .card-3 .click-me strong {
  color: #EEEEEE;
}

body .container .portfolio .card-1 .click-me button, body .container .portfolio .card-2 .click-me button, body .container .portfolio .card-3 .click-me button {
  background-color: #7EC8E3;
  padding: 8px 16px;
  border: 1px solid #7EC8E3;
  border-radius: 25px;
  font-weight: bold;
  color: #050A30;
}

body .container .portfolio .card-1 .click-me a, body .container .portfolio .card-2 .click-me a, body .container .portfolio .card-3 .click-me a {
  text-decoration: none;
}

body .container .portfolio .exception h2 {
  padding-bottom: 30px;
}

body .container .portfolio .exception .ex {
  padding-top: 30px;
}

body .container .know-me {
  width: 100%;
  background-color: #ffffff;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: poppins;
}

body .container .know-me .about-me {
  min-width: 30%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5%;
}

body .container .know-me .about-me h4 {
  height: 300px;
  background-color: #050A30;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #ffffff;
  rotate: 180deg;
  text-align: center;
}

body .container .know-me .about-me p {
  padding: 10%;
  font-size: medium;
}

body .container .know-me .fa {
  color: grey;
}

body .container .know-me .right {
  rotate: 180deg;
}

body .container .know-me .about-me-2 {
  min-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2%;
}

body .container .know-me-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: #050A30;
  font-family: poppins;
}

body .container .know-me-2 svg {
  margin-top: 20%;
}

body .container .know-me-2 .hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5%;
  min-width: 50%;
}

body .container .know-me-2 .hobbies .hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  background-color: #787A91;
  border-radius: 25% 5%;
  margin-top: 12%;
}

body .container .know-me-2 .hobbies .hobby .tom {
  padding-top: 35px;
}

body .container .know-me-2 .hobbies .hobby .tom i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 1;
}

body .container .know-me-2 .hobbies .hobby .tom p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .container .know-me-2 .hobbies h4 {
  height: 300px;
  background-color: #ffffff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #050A30;
  text-align: center;
}

body .container .footer {
  background-color: #EEEEEE;
  font-family: poppins;
  color: #050A30;
  padding-bottom: 5%;
  width: 100%;
}

body .container .footer h1 {
  text-align: center;
}

body .container .footer h1 span {
  color: #7EC8E3;
}

body .container .footer p {
  text-align: center;
  color: #050A30;
}

body .container .footer .location-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .footer .location-form .location {
  text-align: left;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .footer .location-form .location p {
  text-align: left;
}

body .container .footer .location-form .location p a {
  color: black;
  text-decoration: none;
}

body .container .footer .location-form .form {
  max-width: 60%;
}

body .container .footer .location-form .form p {
  text-align: left;
}

body .container .footer .location-form .form .name-email {
  margin-bottom: 5%;
}

body .container .footer .location-form .form .name-email input {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #7EC8E3;
  margin-right: 25px;
}

body .container .footer .location-form .form .name-email input input:hover {
  border: 2px solid #050A30;
}

body .container .footer .location-form .form .message textarea {
  border-radius: 25px;
  border: 1px solid #7EC8E3;
}

body .container .footer .location-form .form button {
  background-color: #050A30;
  padding: 16px 32px;
  color: #7EC8E3;
  border-radius: 25px;
  margin-top: 3%;
  border: 1px solid #7EC8E3;
}

@media (max-width: 992px) {
  body .container {
    width: 100%;
  }
  body .container .header {
    width: 100%;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container .header .image {
    width: 100%;
    margin-top: 0;
  }
  body .container .header .image .border {
    width: 100%;
    height: 300px;
    background-color: #7EC8E3;
    border: 5px solid #787A91;
    -webkit-clip-path: circle(105px at center);
            clip-path: circle(105px at center);
  }
  body .container .header .image .border img {
    width: 100%;
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-clip-path: circle(100px at center);
            clip-path: circle(100px at center);
    -webkit-filter: grayscale(40%);
            filter: grayscale(40%);
  }
  body .container .header .hr {
    display: none;
  }
  body .container .header .its-me {
    text-align: center;
    padding-top: 0;
  }
  body .container .header .its-me h4 {
    font-size: 1.5rem;
  }
  body .container .header .its-me h1 {
    font-size: 3rem;
    line-height: 1.5em;
  }
  body .container .header .its-me h1 span {
    color: #7EC8E3;
  }
  body .container .header .its-me button {
    width: 40%;
    margin-right: 2%;
  }
  body .container .header .navbar .icon {
    margin-top: 10%;
    margin-left: 10%;
    display: block;
    opacity: .9;
  }
  body .container .header .navbar ul {
    display: none;
  }
  body .container .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .main .sub-main {
    margin-top: 12%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: grey;
  }
  body .container .main .sub-main h1 {
    color: #050A30;
    padding-left: 5%;
    font-family: 'poppins';
    font-weight: bolder;
    position: relative;
    font-size: 4rem;
  }
  body .container .main .sub-main h1:after {
    content: '';
    display: block;
    position: absolute;
    width: 140px;
    bottom: -9px;
    left: 120px;
    border: 3px solid #050A30;
  }
  body .container .main .sub-main .education-1, body .container .main .sub-main .education-2, body .container .main .sub-main .education-3 {
    color: #787A91;
    width: 580px;
    height: 320px;
    border-bottom: 1px solid #787A91;
    padding: 2%;
    margin: 3%;
    background-color: #7EC8E3;
    border-radius: 15% 5%;
  }
  body .container .main .sub-main .education-1 .fa, body .container .main .sub-main .education-2 .fa, body .container .main .sub-main .education-3 .fa {
    color: #787A91;
    font-size: 2rem;
  }
  body .container .main .sub-main .education-1 h2, body .container .main .sub-main .education-2 h2, body .container .main .sub-main .education-3 h2 {
    color: #050A30;
    font-size: 3rem;
  }
  body .container .main .sub-main .education-1 h4, body .container .main .sub-main .education-2 h4, body .container .main .sub-main .education-3 h4 {
    font-size: 1.8rem;
    word-spacing: 3px;
    font-weight: lighter;
  }
  body .container .main .sub-main .education-1 p, body .container .main .sub-main .education-2 p, body .container .main .sub-main .education-3 p {
    font-size: 1.8rem;
  }
  body .container .main .sub-main .education-3 {
    border-bottom: none;
  }
  body .container .main .sub-content {
    width: 100%;
  }
  body .container .main .sub-content h1 {
    color: #050A30;
    padding-left: 5%;
    font-family: 'poppins';
    font-weight: bolder;
    position: relative;
    font-size: 4rem;
    text-align: center;
  }
  body .container .main .sub-content h1:after {
    content: '';
    display: block;
    position: absolute;
    width: 140px;
    left: 420px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #050A30;
  }
  body .container .main .sub-content .skillset-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2%;
  }
  body .container .main .sub-content .skillset-1 .skills-1 h3, body .container .main .sub-content .skillset-1 .skills-2 h3, body .container .main .sub-content .skillset-1 .skills-3 h3, body .container .main .sub-content .skillset-1 .skills-4 h3, body .container .main .sub-content .skillset-1 .skills-5 h3, body .container .main .sub-content .skillset-1 .skills-6 h3 {
    color: #050A30;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2px;
  }
  body .container .main .sub-content .skillset-1 .skills-1 h3 i, body .container .main .sub-content .skillset-1 .skills-2 h3 i, body .container .main .sub-content .skillset-1 .skills-3 h3 i, body .container .main .sub-content .skillset-1 .skills-4 h3 i, body .container .main .sub-content .skillset-1 .skills-5 h3 i, body .container .main .sub-content .skillset-1 .skills-6 h3 i {
    color: #0000FF;
    font-size: 1.8rem;
    padding: 5px;
  }
  body .container .main .sub-content .skillset-1 .skills-1 ul, body .container .main .sub-content .skillset-1 .skills-2 ul, body .container .main .sub-content .skillset-1 .skills-3 ul, body .container .main .sub-content .skillset-1 .skills-4 ul, body .container .main .sub-content .skillset-1 .skills-5 ul, body .container .main .sub-content .skillset-1 .skills-6 ul {
    list-style-type: none;
  }
  body .container .main .sub-content .skillset-1 .skills-1 ul li, body .container .main .sub-content .skillset-1 .skills-2 ul li, body .container .main .sub-content .skillset-1 .skills-3 ul li, body .container .main .sub-content .skillset-1 .skills-4 ul li, body .container .main .sub-content .skillset-1 .skills-5 ul li, body .container .main .sub-content .skillset-1 .skills-6 ul li {
    display: block;
    padding: 10px;
    cursor: pointer;
  }
  body .container .main .sub-content .skillset-1 .skills-1 ul li a, body .container .main .sub-content .skillset-1 .skills-2 ul li a, body .container .main .sub-content .skillset-1 .skills-3 ul li a, body .container .main .sub-content .skillset-1 .skills-4 ul li a, body .container .main .sub-content .skillset-1 .skills-5 ul li a, body .container .main .sub-content .skillset-1 .skills-6 ul li a {
    font-size: 1.5rem;
    text-decoration: none;
  }
  body .container .main .sub-content .skillset-1 .skills-1 .loader, body .container .main .sub-content .skillset-1 .skills-2 .loader, body .container .main .sub-content .skillset-1 .skills-3 .loader, body .container .main .sub-content .skillset-1 .skills-4 .loader, body .container .main .sub-content .skillset-1 .skills-5 .loader, body .container .main .sub-content .skillset-1 .skills-6 .loader {
    width: 90%;
    background-color: #EEEEEE;
    border-radius: 15px;
    color: white;
  }
  body .container .main .sub-content .skillset-1 .skills-1 .loader .html, body .container .main .sub-content .skillset-1 .skills-2 .loader .html, body .container .main .sub-content .skillset-1 .skills-3 .loader .html, body .container .main .sub-content .skillset-1 .skills-4 .loader .html, body .container .main .sub-content .skillset-1 .skills-5 .loader .html, body .container .main .sub-content .skillset-1 .skills-6 .loader .html {
    width: 90%;
    background-color: #050A30;
    padding: 2px;
    border-radius: 15px;
    opacity: 0.9;
    text-align: right;
  }
  body .container .main .sub-content .skillset-1 .skills-1 .loader .css, body .container .main .sub-content .skillset-1 .skills-2 .loader .css, body .container .main .sub-content .skillset-1 .skills-3 .loader .css, body .container .main .sub-content .skillset-1 .skills-4 .loader .css, body .container .main .sub-content .skillset-1 .skills-5 .loader .css, body .container .main .sub-content .skillset-1 .skills-6 .loader .css {
    width: 60%;
    background-color: #050A30;
    padding: 3px;
    border-radius: 15px;
    opacity: 0.9;
    text-align: right;
  }
  body .container .main .sub-content .skillset-1 .skills-1 .loader .js, body .container .main .sub-content .skillset-1 .skills-2 .loader .js, body .container .main .sub-content .skillset-1 .skills-3 .loader .js, body .container .main .sub-content .skillset-1 .skills-4 .loader .js, body .container .main .sub-content .skillset-1 .skills-5 .loader .js, body .container .main .sub-content .skillset-1 .skills-6 .loader .js {
    width: 50%;
    background-color: #050A30;
    padding: 3px;
    border-radius: 15px;
    opacity: 0.9;
    text-align: right;
  }
  body .container .main .sub-content .skillset-1 .skills-1 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-2 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-3 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-4 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-5 .loader .illustration, body .container .main .sub-content .skillset-1 .skills-6 .loader .illustration {
    width: 40%;
    background-color: #050A30;
    padding: 3px;
    border-radius: 15px;
    opacity: 0.9;
    text-align: right;
  }
  body .container .main .sub-content .skillset-1 .skills-1 .loader .react, body .container .main .sub-content .skillset-1 .skills-2 .loader .react, body .container .main .sub-content .skillset-1 .skills-3 .loader .react, body .container .main .sub-content .skillset-1 .skills-4 .loader .react, body .container .main .sub-content .skillset-1 .skills-5 .loader .react, body .container .main .sub-content .skillset-1 .skills-6 .loader .react {
    width: 30%;
    background-color: #050A30;
    padding: 3px;
    border-radius: 15px;
    opacity: 0.9;
    text-align: right;
  }
  body .container .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .container .portfolio .card-1, body .container .portfolio .card-2, body .container .portfolio .card-3 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 90%;
    padding: 5%;
    margin: 10px 0px;
    background-color: #050A30;
    margin-top: 3%;
  }
  body .container .know-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  body .container .know-me .about-me h4 {
    height: 400px;
    font-size: 1.3rem;
  }
  body .container .know-me .about-me p {
    font-size: 1.4rem;
  }
  body .container .know-me .about-me-2 svg {
    width: 100%;
  }
  body .container .know-me-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .know-me-2 h4 {
    height: 400px;
    font-size: 1.3rem;
  }
  body .container .know-me-2 svg {
    display: none;
  }
  body .container .footer {
    width: 100%;
  }
  body .container .footer .location-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .footer .location-form .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .container .footer .location-form .location a {
    display: none;
  }
  body .container .footer .location-form .location p {
    font-size: 2rem;
  }
  body .container .footer .location-form .location p i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .container .footer .location-form .form {
    min-width: 90%;
  }
  body .container .footer .location-form .form p {
    font-size: 1.5rem;
    padding: 3%;
  }
  body .container .footer .location-form .form .name-email {
    padding: 3%;
  }
  body .container .footer .location-form .form .message {
    font-size: 1.7rem;
    padding: 2%;
  }
  body .container .footer .location-form .form button {
    margin-left: 3%;
    font-size: 1.3rem;
  }
}

@media (min-width: 1025px) {
  body .container .header .navbar .icon {
    display: none;
  }
  body .container .header .navbar .round-menu {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */